<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="verbose" value="${longdate} | ${processid} | ${processname} | ${threadid} | ${level} | ${logger} | ${message} | ${exception:format=ToString}"/>
  <variable name="verbose_inline" value="${replace:inner=${verbose}:searchFor=\\r\\n|\\n:replaceWith=-NL-:regex=true}"/>

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${verbose_inline}" />
  </targets>

  <rules>
    <logger name="ExploreSteeltoeAutofac" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="console" />

  </rules>
</nlog>